@foreach (var prop in ViewData.ModelMetadata.Properties
                  .Where(pm => pm.ShowForEdit && !pm.ModelType.IsAbstract && !ViewData.TemplateInfo.Visited(pm)))
{
    <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin: 15px; padding: 0 .5em;">
            <div class="editor-label">
               
                @Html.Label(prop.DisplayName)
                @(prop.IsRequired ? "*" : "")
            </div>

            <div class="editor-field">
                @Html.Editor(prop.PropertyName, prop.DataTypeName)
                @prop.Description
            </div>
        </div>
    </div>
}