<link rel="stylesheet" href="~/Content/css/Admin/userInfo.css" />
<script>
//显示数据的表的标志
    var tableName = "#StoreRecordTable";
    var formName = "#searchForm";

    //搜索
    var searchInfo = function () {
        //ajax form提交
        $(formName).form("submit", {
            url: "/Store/StoreRecord/Query",
            //除表单外的数据(分页)
            onSubmit: function (param) {
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function (data) {
                //重新加载数据
                $(tableName).datagrid("loadData", eval('(' + data + ')'));
            }
        });
    }
    
    //列属性:field,title,width,sortable,editor,formatter 
    var columns = [[
        ["PdtID", "物料ID", 130, true],
        ["PdtName", "物料名称", 80, true],
        ["AlctQty", "被预约数量", 80, true],
        ["RequiteQty", "物料需求量", 150, true, { type: "validatebox" }, function (value, row, index) {
            if (value==-1)
            {
                return "";
            }
            return value;
        }],
        ["OrderQty", "下单数量", 80, true, { type: "validatebox" }, function (value, row, index) {
            if (value == -1) {
                return "";
            }
            return value;
        }],
        ["CnsmQty", "外协取料数量", 80, true, { type: "validatebox" }, function (value, row, index) {
            if (value == -1) {
                return "";
            }
            return value;
        }],
        ["ArrveQty", "到货数量", 100, true, { type: "validatebox" }, function (value, row, index) {
            if (value == -1) {
                return "";
            }
            return value;
        }],
        ["IspcQty", "检收数量", 100, true, { type: "validatebox" }, function (value, row, index) {
            if (value == -1) {
                return "";
            }
            return value;
        }],
        ["UseableQty", "可用在库数量", 110, true],
        ["CurrentQty", "实际在库数量", 100, true],
        ["TotalAmt", "总价", 100, true]
    ]]

    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,//table容器,必须
            url: "/Store/StoreRecord/Query",//获取数据的地址,必须
            columns: columns,//列属性,必须
            idField: "PdtID",//标识字段
            maxWidth: 950,//最大宽度
            maxHeight: 200,//最大高度
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试！");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            }
        });
    });

</script>
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Purchase
@using Model

<!--上面的页面导航-->
<div class="FunctionButton_Area" style="width:100%;text-align:right;">
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
</div>

<!--分割线-->
@UserHelpers.Line()

<div style="text-align:center;font-size:20px;">
    <!-- 页面标题 -->
    在库品一览
</div><br />

<!-- 搜索块 -->
<div style="width: 100%; text-align: center; margin-bottom: 15px;">
    <div style="width: 95%; margin: auto; text-align: left;">
        <form id="searchForm" class="Search_Form" method="post">
            <table id ="search_table" style="margin:auto;text-align:left;">
                <tr>
                    <td>部门:@UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DepartmentID", "DepartmentID")</td>
                    <td>仓库:@UserHelpers.SelectWidget(Constant.MasterSection.WH_TYPE_ID, "Wh", "Wh")</td>
                    <td>类别:
                        <select id='PartType' name='PartType'>
                                        <option value='' selected>全部</option>
                                        <option value='0'>正常</option>
                                        <option value='1'>让步</option>
                                        </select>
                    </td>
                    <td>@UserHelpers.ButtonForSearch("searchInfo()")</td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="datagrid" style="text-align:center;width:100%;">
    <table id="StoreRecordTable" ></table>
</div>