@{
    ViewBag.Title = "ApplicationDetls";
}

<!--buttons-->
<div class="buttons" style="width:100%;text-align:right;">
    <a class="easyui-linkbutton" iconCls='icon-print' onclick='printFun();'>打印</a>
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='closeFun();'>关闭</a>
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--line-->
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<!--content-->
<div style="width:100%;text-align:center;margin-bottom:15px;">
        
</div>
<div style="width:100%;text-align:center;margin-bottom:14px;">
        <span id="mainTitle">在库品报废申请</span>
</div>

<div style="width:100%;text-align:center;">
    <div style="width:52%;margin:auto;text-align:right;">
        <form id="processForm" method='post'>
            <div>
                <span  style="margin-left:20px;" >报废单号：@ViewBag.DiscardId</span>
            </div>
        </form>
    </div>
</div>

<div class="datagrid">
    <table id="IPPTable"></table> 
</div>

@section head{
<link rel="stylesheet" href="~/Content/css/Store/ProductScrapped.css" /> 
   <style>
    #mainTitle {
        font-size: 18pt;
    }
</style>  
<script>

    var table;
    var form;
   
    /***********operations start***************/

   
    var printFun = function () {
        alert("打印成功！");
    };

    var closeFun = function () {

    };

  
    /***********operations end***************/

    //获得列属性
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
           
            ["PartDtID", "物料编号", null, true],
            ["PartDtName", "物料名称", 120, true],
            ["PartDtSpec", "规格", null, true],
            ["Quantity", "数量", 40, false],
            ["PrchsUp", "单价", 40, false],
            ["TotalAmt", "总价", 40, false],
            ["StoreCls", "让步区分", 70, false],
            ["WareHouseID", "仓库ID", null, false],
             ["InDate", "入库日期", 120, false, { type: "datebox" }, function (value, row, index) {
                 var date;
                 var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                 if (isNaN(strDt)) {
                     date = strDt.ToDate();
                 } else {
                     date = new Date(strDt.ToInt());
                 }
                 var str = date.Format("yyyy-MM-dd");
                 row.Addate = str;
                 return str;
             }],
            ["QualityPro", "报废原因", 120, false],
            ["SltPlan", "处理方案", 80, false]

        ]];

        return _columns;
    };

   

    $(function () {
        table = $("#IPPTable");
        form = $("#processForm");
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#IPPTable",//table容器,必须
            url: "/Store/Discard/GetPrintPreview?DiscardId=@ViewBag.DiscardId",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            //idField: "UId",//标识字段
            //toolbar: $("#toolbar"),//工具栏 
            //checkbox: true,//是否显示checkbox
            maxWidth: 1200,//最大宽度
            maxHeight: 300,//最大高度
            //pageSize: 5, pageList: [5, 10, 20, 30],
            //singleSelect: false,
            //onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
            //    var arr = $(form1).serializeArray();
            //    $.each(arr, function () {
            //        queryParams[this.name] = this.value;
            //    });
            //},
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows) ? data : data.rows;
                _data.total = isUndefined(data.total)?5:data.total;
                return _data;
            }
        });
        $(table).datagrid("loadData", getData());
    });


</script>
}

