@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Purchase
@using Model
@{
    ViewBag.Title = "Index";
}
<!--buttons-->
<div class="buttons" style="width:100%;text-align:right;">
    
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='closeFun();'>关闭</a>
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--line-->
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<!--content-->
<div style="width:100%;text-align:center;margin-bottom:15px;">
        <span> </span>
</div>
<div style="width:100%;text-align:center;margin-bottom:10px;">
        <span id="mainTitle">在库品报废申请一览</span>
</div>


<center>
    <div class="buttons" style="margin-bottom:15px;">
        <form id="processForm" method='post'>
            <table>
            <tr>
                <td><span  style="margin-left:20px;" >报废单号：</td>
                <td><input id="discardId" class="_text_input" name="discardId" style="width:140px;" /></span></td>
                <td><span  style="margin-left:20px;" >报废日期： @UserHelpers.TimeBeginInput("BeginDate","BeginDate","BeginDate")@*<input class="easyui-datebox"  name="BeginDate"  id="BeginDate" style="width:100px;"/>*@&nbsp;~&nbsp;
                    @UserHelpers.TimeEndInput("EndDate","EndDate","EndDate") @*<input class="easyui-datebox" name="EndDate" id="EndDate" Onblur="dateFun()" style="width:100px;"/>*@</span></td>
                <td><span  style="margin-left:20px;" >状态：</span></td>
                <td><select id='State' name='State'>
                   <option value='3' selected>全部</option>
                    <option value='0'>已批准</option>
                    <option value='1'>已申请</option>
                    <option value='2'>已废弃</option>
                    </select></td>
             </tr>   
             <tr>   
                <td><span>&nbsp;&nbsp;&nbsp;&nbsp;仓库:</span></td>
                <td><select name="WareHouseID" id="WareHouseID" >
                        <option value ="4">全部</option>
                        <option value ="1">分离单元附件库</option>
                        <option value ="2">成品库</option>
                        <option value="3">半成品库</option>
                        <option value="audi"></option></select>
                </td>
                 <td></td>
    <td><span><a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-search' onclick='searchFun()'>查询</a></span></td>
    <td><span><a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='creatFun()'>新建</a></span></td>
     </tr>           
            
        </table></form>
    </div>
</center>


<div class="datagrid">
    <table id="IPPTable"></table> 
</div>

@section head{
<link rel="stylesheet" href="~/Content/css/Store/AProductScrapped.css" /> 
 <style>
    #mainTitle {
        font-size: 18pt;
    }

    .datagrid td.datagrid-td-merged > div
   {
        height:100%;

   }
     .datagrid-body > table.datagrid-btable tr
     {
         height:30px;
     }
</style>

<script>

    var table;
    var form;
   
    /***********operations start***************/
    //新建
    var creatFun = function ()
    { parent.addTab("报废申请详细", "/Store/Discard/Index");}
   

    //详细跳转
    var detailFun = function (discardId, State, PartDtID, BthID) {
        var WhId = $("#WareHouseID").val();
        parent.addTab("报废申请详细", "/Store/Discard/ApplicationDetls?flg=1&discardId=" + discardId );
    }

    /***************查询数据*********************/

    var searchFun = function () {
        //取得仓库ID
        var WhId = $("#WareHouseID").val();
        form.form("submit", {//form提交
            url: "/Store/DiscardApplication/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = table.datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function (data) {
                table.datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    };

    /***********operations end***************/

    /**************************比较开始时间和结束时间*******************************/
    var dateFun = function ()
    {
        alert("sdhfh");
        var beginDate = $("#BeginDate").val();
        var endDate = $("#EndDate").val();
        var d1 = new Date(beginDate.replace(/\-/g, "\/"));
        var d2 = new Date(endDate.replace(/\-/g, "\/"));
        if (d1 >= d2)
        {
            alert("开始时间不能大于结束时间");
            return false;
        }
    }

    /*******************************************************************************/


    /************************报废和报废取消*************************/
    //报废方法
    var scrapped = function (discardId, State, PartDtID, BthID) {
        //得到行数
        var row = $("#IPPTable").datagrid('getSelections');
        var WhId = $("#WareHouseID").val();//得到仓库ID
        
        $.messager.confirm("友情提示", "您确定要报废选中的吗？", function (deleteOK) {
            if (deleteOK) {
                $.ajax({
                    async: true,
                    url: "/Store/DiscardApplication/Updata?flg=0&&discardid=" + discardId + "&state=" + State + "&whId=" + WhId + "&partDtID=" + PartDtID + "&bthID=" + BthID,
                    type: "post",
                    success: function (data) {
                        var _data = eval('(' + data + ')');
                        if (_data.Result == false) {
                            $.messager.alert("信息", _data.Message, "info", function () {
                                //window.location.reload();//刷新数据

                            });
                        } else {
                            //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：error,question,info,warning;fn：当窗口关闭时触发的回调函数
                            $.messager.alert("信息", "报废成功", "info", function () {
                                searchFun();
                            });

                        }
                    }
                })
            }
        });
    }


    //报废取消
    var cancelScrapped = function (discardId, State, PartDtID, BthID) {
        var WhId = $("#WareHouseID").val();
        var row = $("#IPPTable").datagrid('getSelections');
        $.messager.confirm("友情提示", "你确定要取消选中的报废零部件吗？", function (deleteOK) {
            if (deleteOK) {
                $.ajax({
                    async: true,
                    url: "/Store/DiscardApplication/Updata?flg=1&&discardid=" + discardId + "&state=" + State + "&whId=" + WhId + "&partDtID="+PartDtID+"&bthID="+BthID,
                    type: "post",
                    success: function (data) {
                        var _data = eval('(' + data + ')');
                        if (_data.Result == false) {
                            $.messager.alert("信息", _data.Message, "info", function () {
                                // do something
                                
                            });
                        } else {
                            //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：error,question,info,warning;fn：当窗口关闭时触发的回调函数
                            $.messager.alert("信息","取消报废成功", "info", function () {
                                searchFun();//刷新数据
                            });
                            
                        }
                    }
                })
            }
        });
    }

    /*************************************************/
    


    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
            ["BthID", "", null, false],
            ["PartDtID", "", null, true],
            ["discardId", "报废单号", 120, true],
            ["SltDate", "报废申请日期", 145, true,null,function (value, row, index) {//string转为时间类型的
                var date;
                var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                if (isNaN(strDt)) {
                    date = strDt.ToDate();
                } else {
                    date = new Date(strDt.ToInt());
                }
                var str = date.Format("yyyy-MM-dd");
                row.Addate = str;
                return str;
            }],
            ["AplUser", "申请人", 115, false],
            ["State", "状态", null, false],
            ["Detail", " ", null, false, null, function (value, row, index) {
                var htmlStr = "";
                htmlStr += ("<input type='button' style='width:60px;height:25px;'  value='详细' onclick=detailFun('" + row.discardId + "','" + row["State"] + "','" + row["PartDtID"] + "','" + row["BthID"] + "')>");
                return htmlStr;
            }],
            ["Scrapped", " ", null, false, null, function (value, row, index) {
                
                if (row["State"] == "2")
                { }
                else{
                var htmlStr = "";
                htmlStr += ("<input type='button' style='width:60px;height:25px;'  value='报废' onclick=scrapped('" + row.discardId + "','" + row["State"] + "','" + row["PartDtID"] + "','" + row["BthID"] + "')>");
                return htmlStr;}
            }],
            ["CancelScrapped", " ", null, false, null, function (value, row, index) {
                if (row["State"] == "2")
                { }
                else {
                    var htmlStr = "";
                    htmlStr += ("<input type='button' style='width:60px;height:25px;'  value='取消报废' onclick=cancelScrapped('" + row.discardId + "','" + row["State"] + "','" + row["PartDtID"] + "','" + row["BthID"] + "')>");
                    return htmlStr;
                }
            }]

        ]];

        return _columns;
    };



    $(function () {
        table = $("#IPPTable");
        form = $("#processForm");
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#IPPTable",//table容器,必须
            url: "/Store/DiscardApplication/Get",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            //idField: "UId",//标识字段
            //toolbar: $("#toolbar"),//工具栏 
            //checkbox: true,//是否显示checkbox
            maxWidth: 711,//最大宽度
            maxHeight: 300,//最大高度
            pageSize: 30, pageList: [5, 10, 20,30,40],
            //singleSelect: false,
            //onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
            //    var arr = $(form1).serializeArray();
            //    $.each(arr, function () {
            //        queryParams[this.name] = this.value;
            //    });
            //},
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows) ? data : data.rows;
                _data.total = isUndefined(data.total)?5:data.total;
                return _data;
            }
        });
        $('#IPPTable').datagrid('hideColumn', 'BthID');
        $('#IPPTable').datagrid('hideColumn', 'PartDtID');
    });


</script>

}
