
@*<link rel="stylesheet" href="~/Content/UserInfo/userInfo.css" />*@
<link rel="stylesheet" href="~/Content/css/Store/WipStore.css">
<script>
    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改

    //转到预览页面
    var previewInfos = function () {
        var selectVal = $('input:radio[name="wipInSelect"]:checked').val();
        if (selectVal!= null) {
        var elements = document.getElementsByTagName("input");
        var checkPdtID = "";
        var checkDeliveryOrderID = "";
        checkDeliveryOrderID = $(tableName).datagrid("getRows")[selectVal]["DeliveryOrderID"];      
            for (var i = 0 ; i < elements.length; i++) {
                var e = elements[i];
                if (e.type == "checkbox" && e.checked && e.name == checkDeliveryOrderID) {
                    checkPdtID += e.id + ",";
                    //checkDeliveryOrderID += e.name + ",";              
                }
            }
            checkPdtID = checkPdtID.substring(0, checkPdtID.length - 1);
            //checkDeliveryOrderID = checkDeliveryOrderID.substring(0, checkDeliveryOrderID.length - 1);
            if (selectVal != null && checkPdtID != "" && checkDeliveryOrderID != "") {
                parent.addTab("加工产品入库单", "/Store/WipInPrint/WipInPrintIndex?pdtID=" + checkPdtID + "&deliveryOrderID=" + checkDeliveryOrderID + "");
            } else {
                $.messager.alert("友情提示", "请选择打印数据! ");
            }
        } else {
            $.messager.alert("友情提示", "请选择打印数据! ");
        }
        checkPdtID = "";
        checkDeliveryOrderID = "";
    }

    //文本框点击事件
    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    //搜索
    var searchFun = function () {
        $(formName).form("submit", {//ajax form提交
            url: "/Store/WipInPrint/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;//pagerOptions.pageNumber;
            },
            success: function (data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
        MymergeCells();
    }

    //单选功能
    function radioFun(DeliveryOrderID, checkedRadio) {
        var eles = document.getElementsByTagName('input');
        for (var i = 0; i < eles.length; i++) {
            if (eles[i].type == 'checkbox') {
                eles[i].checked = false;
            }
        }
        var checkBox = $("." + DeliveryOrderID + "");
        for (var j = 0; j < checkBox.length; j++) {
            var c = checkBox[j];
            c.checked = true;
        }
    }

    //合并单元格
    var merged = false;
    var MymergeCells = function () {
        setTimeout(function () {
            if (!merged) {
                mergeCells({ fields: ["PlanID", "DeliveryOrderID", "ProcUnit", "BthID", "McIsetInListID", "print"], target: tableName });
                merged = true;
            } else {
                merged = false;
            }
        }, 10);
    }

    //关闭窗体
    function CloseFun() {
        parent.closeTab(gTitle)
    }

    var columns = [//["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
          [//第一行
              ["PlanID", "计划单号", 130, 2, null],
              ["BthID", "批次号", 100, 2, null],
              ["McIsetInListID", "入库单号", 160, 2, null],
              ["IsetRepID", "检验报告单号", 120, 2, null],
              ["GiCls", "让步区分", null, 2, null, null, null, function (value, row, index) {
                 var htmlStr = "";
                 if (row.GiCls == "999") {
                     htmlStr = "正常";
                 } else {
                     htmlStr = "内径过小";
                 }
                 return htmlStr;
              }],
              ["PdtName", "物资名称", null, 2, null],
              ["PdtSpec", "规格型号", null, 2, null],
              ["TecnProcess", "加工工艺", 180, 2, null],
              [null, "交仓数量", null, null, 6],
              ["Unit", "单位", 40, 2, null],
              ["PrchsUp", "加工单价", null, 2, null],
              ["NotaxAmt", "金额", null, 2, null],
              ["Rmrs", "备注", 120, 2, null]
          ],  [//第二行
              ["Qty", "合格", null, null, null, true, true], ["ProScrapQty", "报废"], ["ProMaterscrapQty", "料废"],
              ["ProOverQty", "余料"], ["ProLackQty", "缺料"], ["ProTotalQty", "合计"]
          ]
    ]

    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/WipInPrint/Get",
            columns: columns,
            nowrap: false,
            frozenColumns: [[{
                field: 'print', title: '打印选择', width: 70, rowspan: 2,align:'center', formatter: function (value, row, index) {
                    var htmlStr = "";
                    htmlStr = ("<input class='checks' id='" + row.DeliveryOrderID + "' type='radio' style='font-size:12px'  value='"+index+"' name='wipInSelect' onclick=\"" + "radioFun('" + row.DeliveryOrderID + "',this)\">");
                    return htmlStr;
                }
            }, {
                field: 'Detail', title: '详细', width: 50, rowspan: 2, align: 'center', formatter: function (value, row, index) {
                    var htmlStr = value;
                    if (row.PrintFlg == "0") {
                        htmlStr = ("<input class='" + row.DeliveryOrderID + "' name='" + row.DeliveryOrderID + "' id='" + row.PdtID + "' type='checkbox' checked='checked' style='font-size:12px'  value='" + index + "'>");
                    }
                    else if (row.PrintFlg == "1"){
                        htmlStr = ("<input class='" + row.DeliveryOrderID + "' name='" + row.DeliveryOrderID + "' id='" + row.PdtID + "' type='checkbox' style='font-size:12px'  value='" + index + "'>");
                    }
                    return htmlStr
                }
            },
                            {
                                field: 'PrintFlg', title: '打印状态', align: 'center', width: 70, rowspan: 2, formatter: function (value, row, index) {
                                    var PrintFlg = value;

                                    if (PrintFlg == "0") {
                                        PrintFlg = "未打印"
                                    }
                                    else if (PrintFlg == "1") {
                                        PrintFlg = "已打印"
                                    }
                                    return PrintFlg;

                                }
                            },
                           
                            { field: 'DeliveryOrderID', title: '送货单号', width: 130, rowspan: 2, align: 'center' },
                            { field: 'ProcUnit', title: '加工单位', width: 160, rowspan: 2, align: 'center' },
                           
        ]] ,
            idField: "PdtID",
            //toolbar: $("#toolbar"),//工具栏 
            //checkbox: true,//是否显示checkbox
            maxWidth: 950,
            maxHeight: 300,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! "); 
            },
            onCreating: function (data) { 
                MymergeCells();
                //do something...
            },
            onDblClickRow: function (rowIndex, row) {
               return false;
                
            }

        });      
   
    });

</script>

<style>
.Search_Table {
        margin:auto;      
        text-align:left;
    }
</style>

<div class="buttons" style="width:100%;text-align:right;">
     @UserHelpers.ButtonForPreview("previewInfos()")
      @if (Model == 1) { //拥有新建权限
     @UserHelpers.ButtonForClose("CloseFun()")             
      }
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div style="width:100%;text-align:center;">
    <h2>入库单打印选择</h2>
</div>

<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
    <form class="Search_Form" id='searchForm' method='post'>
       <table class='Search_Table'>
                <tr>
                <td>送货单号: </td>
                <td>
                <input id='DeliveryOrderID' class="easyui-searchbox"style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='DeliveryOrderID'/>
                </td>
                <td style="padding-left: 10px">批次号：</td>
                <td>
                   <input id='BthID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='BthID'/>
                </td>
                <td style="padding-left: 10px">检验报告单号：</td>
                <td>
                    <input id='IsetRepID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='IsetRepID'/>     
                </td>               
                <td style="padding-left: 10px">送货日期：</td>
                <td>
                    <input id='StartDeliveryDate'style="width:110px" type='text' class='easyui-datebox' name='StartInDate'/>
                </td>
                <td>
                   ~<input id='EndDeliveryDate'style="width:110px" type='text' class='easyui-datebox' name='EndInDate'/>
                </td>
                </tr>
                <tr> 
                <td>物资名称：</td>
                <td>
                    <input id='PdtID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='PdtName'/>
                </td>                                
                <td style="padding-left: 10px">仓库编码：</td>
                <td>
                  <input id='WhID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='WhID'/>
                </td>                             
                <td style="padding-left: 10px">让步区分：</td>
                <td>
                   <select id='GiCls' name='GiCls'>
                                        <option value='' selected>全部</option>
                                        <option value='999'>正常</option>
                                        <option value='0'>让步</option>
                                        </select>
                </td>
                    <td style="padding-left: 10px">印刷标志：</td>
                <td>
                  <select id='PrintFlg' name='PrintFlg'>
                    <option value='' selected="selected">全部</option>
                    <option value='0'>未打印</option>
                    <option value='1'>已打印</option>
                  </select>
                </td>
               <td style="text-align: right">
                    @UserHelpers.ButtonForSearch("searchFun()")
                </td>
                </tr>
           
              </table>
    </form>
</div>
</div>
<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>


