
    /*****************************Index*******************************/
    .datagrid > div {
        margin:auto;
    }
    .datagrid .datagrid-body tr,.datagrid .datagrid-header tr{
        height: 30px;
    }
    #mainPanle .mainTitle {
        font-size: 18pt;
    }
    select,input {
        /*vertical-align: middle;*/ 
        border-style:solid; border-width:1px; border-color:#95B8E7;
    }
    select {
        width:auto;height: auto; 
    }
    input {
        width:135px;height: 20px; 
    }
    /*****************************Index*******************************/


    /*****************************Detail*******************************/
    /*拖动*/
    * {
        cursor: default
    }
     .resizeDiv { 
         position:absolute; background-color:#49eb1a;width:0px;height:17px;left:0px; border:0px solid blue;
         display:block;
     }
    .selectHeader,.selectLast {
        height:100%; border:0px solid red;position:absolute; background-color:#3629e0;
        opacity:0.1;filter: alpha(opacity=10)
    }
    .selectHeader {
        left:0;cursor:w-resize;width:3px;
    }
    .selectLast {
        left:100%;cursor: e-resize; width:4px;
    }
    .onborder {
        border: none;
    }

    
    .e-table-header,.e-table-header-row {
        background-image: none
    }


    /*datagrid*/
    .datagrid > div {
        text-align:left;
    }
    /*居中*/
    #tabsContainer > div {
        margin:auto;
    }
    /*列高度*/
    div.DMPD .datagrid-body tr, div.DWPD .datagrid-body tr{
        height:30px;
    }
    /*表头高度*/
    div.DMPD .datagrid-header-row{height: 49px;}
    div.DWPD .datagrid-header-row{height: 49px;}
    div.DWPD>div>div ,div.DMPD>div>div{
        border-right: none;
    }
    /*列高度*/
    #monthTable table tr,#weekTable table tr {
        height: 30px;
    }
    /*不显示左边线*/
    #monthTable>div,#weekTable>div {
        border-left: none;
    }
    /*表头背景*/
    /*#weekTable  div.e-table-header,#monthTable div.e-table-header {//已移到default.css
        background-color: white;
    }*/
    #weekTable div.e-table-header>div,#monthTable div.e-table-header>div {
        border-color: #cccccc
    }
    /*#weekTable div.e-table-header>div>div,#monthTable div.e-table-header>div>div {
        border-bottom-color: #ccc;border-right: 1px dotted #ccc;//已移到default.css
    }*/

    .e-table-cell {
        border-bottom: 1px dotted #CCCCCC;
        border-right: 1px dotted #CCCCCC;
    }

    /*tab*/
    #InProcessTabs {
        border-left-width: 0
    }

    /*其他*/
    select,input {
        /*vertical-align: middle; */
        border-style:solid; border-width:1px; border-color:#95B8E7;
    }
    select {
        width:auto;height: auto; 
    }
    input {
        width:110px;height: 20px; 
    }

    .datagrid-row-selected,.e-table-row-selected {
        background-color: white;
    }
    .selected {
        background-color: #daa520;opacity: 0.5;filter: alpha(opacity=50);
    }
    
    .combobox-item-hover {
        background-color: #cccccc
    }

    #mainPanle .mainTitle {
        font-size: 18pt;
    }
    /*****************************Detail*******************************/


    /*****************************Ticket*******************************/
    .datagrid > div {
        margin:auto;
    }
    .datagrid .datagrid-body tr,.datagrid .datagrid-header tr{
        height: 30px;
    }
    /*****************************Ticket*******************************/



