<link rel="stylesheet" href="~/Content/css/Store/AccStore.css">
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改
    var toTalQty = 0;
    var toTalNotaxAmt = 0;

    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    function printFun() {      
        self.print();
    }

    function saveFun() {
        alert("保存功能");
    }


    function radioFun(value) {
        alert(value + "单选功能");
    }

    //关闭窗体
    function CloseFun() {
        parent.closeTab(gTitle)
    }

    //列属性:field,title,width,sortable,editor,formatter
    var columns = [[
        ["PdtID", "物料编号", 100, true],
        ["PdtName", "物料名称", 170, true],
        ["PdtSpec", "规格型号", 250, true],
        ["Unit", "单位", 40, true],
        ["Qty", "实收数量", 90, true],
        ["PrchsUp", "单价", 70, true],
        ["NotaxAmt", "实际金额", 100, true, true, function (value, row, index) {         
            return value;
        }],
        ["Rmrs", "备注", 120, true, true, function (value, row, index) {
            var date;
            var strDt = (row.Date + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy年MM月dd日");
            if (row.PdtID != undefined) {
                document.getElementById("Date").innerHTML = str;
                document.getElementById("PrhaOdrID").innerHTML = row.PrhaOdrID;
                document.getElementById("DeliveryCompanyID").innerHTML = row.DeliveryCompanyID;
                document.getElementById("DepartID").innerHTML = row.DepartID;
                document.getElementById("DepartName").innerHTML = row.DepartName;
                document.getElementById("UID").innerHTML = row.UID;
                document.getElementById("UID1").innerHTML = row.UID1;
                document.getElementById("WhkpID").innerHTML = row.WhkpID
                document.getElementById("ProID").innerHTML = row.ProID
                if (row.PrintFlg == "1") {
                    document.getElementById("PrintState").innerHTML = "(补印)";
                } else {
                    //document.getElementById("PrintState").innerHTML = "(补印)";
                }
            }
            return value;
        }]

    ]];

    $(function () {
        var preview_pdtID = $("#preview_pdtID").val();
        var preview_deliveryOrderID = $("#preview_deliveryOrderID").val();
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/AccInPrint/AccInPrintPreview?pdtID=" + preview_pdtID + "&deliveryOrderID=" + preview_deliveryOrderID + "",
            columns: columns,
            showFooter: true,
            rownumbers: true,
            idField: "PdtID",
            nowrap: false,
            //toolbar: $("#toolbar"),//工具栏 
            maxWidth: 950,
            maxHeight: 300,
            pagination: false,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                   
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! "); 
            },
            onCreating: function (data) {
                //do something...
                //var rowsQty = $(tableName).datagrid("getRows");
                //for (var i = 0 ; i < rowsQty.length; i++) {
                //    toTalQty += Number(rowsQty[i].Qty);
                //    toTalNotaxAmt += Number(rowsQty[i].Qty) * Number(rowsQty[i].PrchsUp);
                //}

                //    $(tableName).datagrid("appendRow", {
                //        "PdtSpec": " ",
                //        "PdtName": "合计",   //1.合计合并单元格****************************？？？？2.背景色？？？
                //        "Qty": "合计数量",
                //        "NotaxAmt": "合计金额",
                //        "PrchsUp": toTalQty,
                //        "Rmrs": toTalNotaxAmt + "元"

                //    });


                //setTimeout(function () {
                //    var rows = $(tableName).datagrid("getRows");
                //    var totalrows=rows.length-1;
                //    $(tableName).datagrid("mergeCells", { index: totalrows, field: "PdtName", colspan: 4 })
                //}, 10);
            //}
            }, loadFilter: function (data) {
                var _data = {};
                _data.rows = data.rows ? data.rows : data;
                for (var i = 0 ; i < data.rows.length; i++) {
                    toTalQty += Number(data.rows[i].Qty);
                    toTalNotaxAmt += Number(data.rows[i].Qty) * Number(data.rows[i].PrchsUp);
                }
               
                _data.footer = [{ "PdtName": "合计", "Qty": "合计数量", "NotaxAmt": "合计金额", "PrchsUp": toTalQty, "Rmrs": toTalNotaxAmt + "元" }];
                return _data;
            }
        });
    });

</script>

<style>
.Search_Table {
        margin:auto;      
        text-align:left;
    }
</style>

<div class="buttons" style="width:100%;text-align:right;"><br />
     @UserHelpers.ButtonForPrint("printFun()")
     @UserHelpers.ButtonForClose("CloseFun()")    
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div class="noprint" style="width:100%;text-align:center;">
    <h2>物资验收入库单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id='PrintState' style="width:120px" aria-setsize=30></label></h2>
</div>
<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
    <form class="Search_Form" id='searchForm' method='post'>
         <table class='Search_Table'>
                <tr>
                <td>单据日期：</td>
                <td>
                <label id='Date' style="width:200px"></label>
                </td>
                <td></td>
                <td>
                </td>
                <td style="padding-left: 190px">单据编号：</td>
                <td>
                 <label id='PrhaOdrID' style="width:200px"></label>
                </td>
                
                </tr>
                <tr> 
                <td>供货单位：</td>
                <td>
                    <label id='DeliveryCompanyID' style="width:200px"></label>
                </td>
                <td style="padding-left: 190px">采购部门：</td>
                <td>
                  <label id='DepartID' style="width:200px"></label>
                </td>
                
                <td style="padding-left: 190px"> 所属部门：</td>
                <td>
                 <label id='DepartName' style="width:200px"></label>   
                </td>                                            
                </tr>
              </table>   
    </form>
</div>
</div>
<div class="datagrid" style="text-align:center;width:100%; overflow:hidden">
    <table id="userTable"></table>
</div>
<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
    <form class="Search_Form" id='searchForm1' method='post'>
         <table class='Search_Table'>
                <tr>
                <td>质检：</td>
                <td>
                <label id='UID' style="width:120px"></label>
                </td>
                <td style="padding-left: 180px">采购：201228</td>
                <td>
                 <label id='UID1' style="width:120px"></label>
                </td>
                <td style="padding-left: 180px">仓管：</td>
                <td>
                 <label id='WhkpID' style="width:120px"></label>
                </td>
                <td style="padding-left: 180px">制单人：</td>
                <td>
                  <label id='ProID' style="width:120px"></label>
                </td>
                </tr>               
              </table>   
    </form>
</div>
</div>     
<input id="preview_pdtID" type="hidden" value="@ViewBag.preview_pdtID" />
<input id="preview_deliveryOrderID" type="hidden" value="@ViewBag.preview_deliveryOrderID" />

