
			<div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home" >
				<!--<iframe1 id="IFrame" scrolling="auto" height="1000" width="1500" frameborder="0" src="">-->						
					<h1>Welcome to using The ERP Management System!</h1>
                    
				<!--</iframe1>-->
			</div>
