#dlg form * {
    font-size:12pt;
}
.ftitle {
    font-size:15pt;text-align:center;margin:10px 0;
}
.operator {/*操作-超链的样式*/
    color:blue;font-size:5pt;
}

.datagrid > div {
    margin:auto
}

/*WipCheckStore/Create*/

.a {
    font-size:24px;
    color:red;
}
.table_detail {
    width:950px;
    height:200px;
    border-style:solid;
    border-width:1px;
    border-color:blue;
	text-align:center;
}
.table_detail td{
    border-style:solid;
    border-width:200px;
    border-color:blue;
	text-align:center;

}
.form_detail {
    width:950px;
    height:200px;
	text-align:center;
}