@{
    ViewBag.Title = "Index";
}
<!--buttons-->



<div class="buttons" style="width:100%;text-align:right;">
    @*<a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='parent.closeTab(gTitle);'>关闭</a>*@
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--line-->
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<!--content-->
<div style="width:100%;text-align:center;">
        <span>杭州雷迪克汽车部件制造有限公司</span>
</div>
<div style="width:100%;text-align:left;margin-bottom:30px;">
        <span>待出库一览</span>
</div>

<div style="width:100%;text-align:center;margin-bottom:15px;">
    <div style="width:100%;margin:auto;text-align:center;">
        <form id="processForm" method='post'>
            <div>
                <span  style="margin-left:20px;" >提货单号：<input id="ladiID" class="_text_input" name="ladiID" style="width:220px;" /></span>
                &nbsp;&nbsp;&nbsp;
                @*<a class='easyui-linkbutton' iconCls="icon-search" onclick='searchFun();'>查询</a>*@
                @UserHelpers.ButtonForSearch("searchFun()")
            </div>
        </form>
    </div>
</div>

<div class="datagrid" style="margin-bottom:15px;">
    <table id="IPPTable"></table> 
</div>

<div style="width:100%;margin:auto;text-align:center;">
        <a class='easyui-linkbutton' iconCls="icon-add" onclick='OutStoreDetlsFun();'>出库</a>
</div>


@section head{
<link rel="stylesheet" href="~/Content/css/Store/EndProOutStore.css" /> 

<script>

    
    var table;
    var form;

    /***********operations start***************/

    var searchFun = function () {
        form.form("submit", {//form提交
            url: "/Store/FinOutStore/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = table.datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function (data) {
                table.datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    };
    
    var closeFun = function () {

    };

    var OutStoreDetlsFun = function () {
        //var $tabs = $("#tabs");
        //var $tab = $("#tabs").tabs("getSelected");
        //$tabs.tabs("update", {
        //    tab: $tab,
        //    options: {
        //        href: "/Store/FinOutRecord/FinOutRecordDetls",
        //    }
        //});
    };

  
    /***********operations end***************/

    //获得列属性
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
            ["ladiID", "提货单号", 320, true]
             //["Choose", "全选", 45, false, null, function (value, row, index) {
             //    //type: 'checkbox'
             //    var htmlStr = "";
             //    htmlStr += ("<input type='checkbox' name='Enabled' unchecked />");
             //    return htmlStr;

             //}]
        ]];

        return _columns;
    };

    //获得数据
    var getData = function () {
        var _data = [
            {
                DeliveryCd: 101
            }, {
                DeliveryCd: 102
            }, {
                DeliveryCd: 103
            }
          
        ];
        return _data;
    };

    $(function () {
        table = $("#IPPTable");
        form = $("#processForm");
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#IPPTable",//table容器,必须
            url: "/Store/FinOutStore/Get",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            //idField: "UId",//标识字段
            //toolbar: $("#toolbar"),//工具栏 
            checkbox: true,//是否显示checkbox
            maxWidth: 1200,//最大宽度
            maxHeight: 300,//最大高度
            //pageSize: 5, pageList: [5, 10, 20, 30],
            //singleSelect: false,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = form.serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows) ? data : data.rows;
                _data.total = isUndefined(data.total)?5:data.total;
                return _data;
            }
        });
        //$(table).datagrid("loadData", getData());
    });


</script>
}