*{/*font-size:12px;*/ font-family:Tahoma,Verdana,微软雅黑,新宋体}

/*body{background:#D2E0F2; }*/
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}



.icon{ background:url(../../Scripts/js/themes/default/images/tabicons.png) no-repeat -80px 0;width:18px; line-height:18px; display:inline-block;}
.icon-sys{ background-position:-60px -500px;}
.icon-set{ background-position:-380px -200px;}
.icon-add{background-position: -20px 0px;}
.icon-add1{background:url('icon/edit_add.png') no-repeat;}
.icon-nav{background-position: -100px -20px; }
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}
.icon-delete16{background:url('icon/delete.gif') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-delete{ background-position:-140px -120px;}
.icon-edit{ background-position:-380px -320px;}
.icon-magic{ background-position:0px -500px;}
.icon-database{ background-position:-20px -140px;}
.icon-expand{ background:url('/images/coll2.gif') no-repeat;}
.icon-collapse{ background:url('/images/coll3.gif') no-repeat;}

.input_text{border:1px solid white;width:150px;height:17px;margin-top:19px;border-radius:3px;}/*输入文本框的输入前*/
.input_textNewStyle/*输入文本框的输入后*/
{
	width:150px;
	height:18px;
	margin-top:19px;
	border-radius:3px;
	border:1px solid #C7A159;	
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";/*IE阴影*/
	-moz-box-shadow: #666 0px 0px 6px;/*火狐阴影*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*谷歌和safair*/
}
/*Menu图标*/
#wnav .panel .panel-icon.icon.icon-sys{	background:url("../../Scripts/js/themes/default/images/Pers.png") no-repeat;	height:34px;width:34px;}
#wnav .panel + .panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/FI.png") no-repeat;}
#wnav .panel + .panel + .panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/Sale.png") no-repeat;}
#wnav .panel + .panel + .panel+.panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/Prod.png") no-repeat;}
#wnav .panel + .panel + .panel+.panel+.panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/SCM.png") no-repeat;}
#wnav .panel + .panel + .panel+.panel+.panel+.panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/QA.png") no-repeat;}
#wnav .panel + .panel + .panel+.panel+.panel+.panel+.panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/Tec.png") no-repeat;}
#wnav .panel + .panel + .panel+.panel+.panel+.panel+.panel+.panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/Store.png") no-repeat;}
#wnav .panel + .panel + .panel+.panel+.panel+.panel+.panel+.panel+.panel .panel-icon.icon.icon-sys{background:url("../../Scripts/js/themes/default/images/Base.png") no-repeat;}
/*menu大小布局*/
.panel.layout-panel.layout-panel-west.layout-split-west > .panel-header{height:16px;}
#wnav .panel .panel-header.accordion-header.accordion-header-selected{height:34px;}
.panel-header.accordion-header.accordion-header-selected .panel-title.panel-with-icon{height:34px;}
.accordion .accordion-header .panel-title{line-height:34px;	font-size:14px;	font-weight:normal;}
.panel-with-icon{padding-left:40px;}
/*.panel-title{height:34px;}*//*此处杜兴军修改*/
.panel-icon,.panel-tool{top:30%;}
.panel-title.panel-with-icon{color:white;}
.panel-body.panel-body-noheader.panel-body-noborder{background-color:#dce2f1;overflow-x:hidden;overflow-y:auto;border-bottom:0;border-left:0;border-right:0;}/*显示画面的div*/

.tabs-panels.tabs-panels-noborder > .panel >#home.panel-body.panel-body-noheader.panel-body-noborder{background-color:#FFFFFF;}
/*搜索页面*/
 .InputField_Text
{
	line-height:16px;
	vertical-align:middle;
	font-size:13px;    
    width:140px;
    height:16px;
	border:2px solid white;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	border-radius:3px;
    position:relative;
    z-index:2;
    behavior:url('../../Scripts/js/PIE.htc');
}
 .InputField_Text:focus{border:2px solid #c7a159;}
 .Top_SearchButton
 {
	vertical-align:middle;	
	cursor:pointer;    
    margin-left:2px;
    width:50px;
	height:20px;
	border:1px solid #dddddd;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	border-radius:3px;
	/*background-color:#dddddd;*/
    position:relative;
    z-index:2;
    behavior:url('../../Scripts/js/PIE.htc');
 }
 .Top_SearchButton:hover{font-weight:700;}
 /*页面点击按钮*/
.SearchButton_Menument/*查找*/,.SaveButton_Menument/*保存*/,.EditButton_Menument/*编辑*/,.CloseButton_Menument/*关闭*/,.NewlyBuildButton_Menument/*新建*/,.AddButton_Menument/*添加*/,
.ConfirmationButton_Menument/*确认*/,.DeleteButton_Menument/*删除*/,.BackButton_Menument/*退回*/,.Examine_Menument/*审核*/,.PrintButton_Menument/*打印*/,.ImportButton_Menument/*导入*/,.ExportButton_Menument/*导出*/,
.LoadingButton_Menument/*登陆*/,.DiscardButton_Menument,.DetailButton_Menument/*详细*/,.ChooseButton_Menument/*选择*/,.SanctionButton_Menument/*批准*/,.MaterialConfirm_Menument/*原料确认*/,
.Empty_Menument/*清空*/,.Application_Menument/*申请*/,.Preview_Menument/*预览*/,.InStorage_Menument/*入库*/,.OutStorage_Menument/*出库*/,.WarehouseButton_Menument/*交仓*/,.ViewEyesButton_Menument/*查看*/,
.NextStep_Menument/*下一步*/,.BackStep_Menument /*上一步*/
{
	/*background: #A5B8DA;*/		
	font:13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	padding-left:20px;
	width:60px;
	height:25px;
	line-height:25px;
	border:0;
	/*border:1px ridge #88b0b0;*/							
	/*-moz-border-radius:5px;				
	-webkit-border-radius:5px;
	border-radius:5px;
	position:relative;
	z-index:2;										
	behavior:url('../../Scripts/js/PIE.htc');*/	
}
.DetailButton_Menument{height:21px;line-height:21px;cursor:pointer;padding-left:11px;}/*详细*/
.HandLoadingButton_Menument,.PrintPreviewButton_Menument,.CreateTicketButton_Menument,.CancelDiscardButton_Menument,.CancelOrderButton_Menument,/*手工登陆、打印预览、生成工票、取消报废、取消订单*/
.CapacityAnalysis_Menument/*产能分析*/,.ProductionRelease_Menument/*排产解除*/,.ConfirmedProduction_Menument/*确认排产*/,.ProcessProduction_Menument/*加工排产*/,
.ErectionProduction_Menument/*总装排产*/,.GanttChart_Menument/*查看甘特图*/,.TransferCard_Menument/*加工流转卡*/,.IssueRequisitions_Menument/*开具领料单*/
{
	font:13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	padding-left:20px;
	width:100px;
	height:25px;
	line-height:25px;
	border:0;
}
.LineAdditionButton_Menument/*行追加*/,.TaskReceiving_Menument/*任务接收*/,.SchedulingNotice_Menument/*调度单生成*/
{

	font:13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	padding-left:20px;
	width:82px;
	height:25px;
	line-height:25px;
	border:0;
}
.BackStep_Menument{padding-left:16px;}/*上一步*/
.NextStep_Menument{padding-left:0;padding-right:16px;}/*下一步*/
.TaskReceiving_Menument/*任务接收*/,.MaterialConfirm_Menument/*原料确认*/,.SchedulingNotice_Menument/*调度单生成*/{text-align:center;padding:0;}
.Application_Menument/*申请*/,.Empty_Menument/*申请,清空*/,.NextStep_Menument/*下一步*/,.BackStep_Menument /*上一步*/{text-align:center;padding-left:11px;}
/*-----自定义按钮文字的按钮------*/
.dispValue_class
{
	font:13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	padding-left:20px;
	width:60px;
	height:25px;
	line-height:25px;
	border:0;
	background:url('../Loading/按钮合集.png') no-repeat -185px -27px;
}

.SearchButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -185px -27px;}/*查找*/	
.SaveButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -307px -2px;}/*保存*/
.EditButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -185px -2px;}/*编辑*/
.CloseButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -2px -2px;}/*关闭*/
.NewlyBuildButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -246px -2px;}/*新建*/
.AddButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -2px -27px;}/*添加*/
.ConfirmationButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -124px -2px;}/*确认*/
.DeleteButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -124px -27px;}/*删除*/
.BackButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -63px -27px;}/*退回*/
.Examine_Menument{background:url('../Loading/按钮合集.png') no-repeat -2px -52px;}/*审核*/
.PrintButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -246px -27px;}/*打印*/
.ImportButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -63px -2px;}/*导入*/
.ExportButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -307px -27px;}/*导出*/
.HandLoadingButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -161px -52px;}/*手工登陆*/
.LoadingButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -2px -77px;}/*登陆*/
.PrintPreviewButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -62px -52px;}/*打印预览*/
.LineAdditionButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -259px -52px;}/*行追加*/
.CreateTicketButton_Menument{background:url('../Loading/按钮合集.png') no-repeat  -62px -77px;}/*生成工票*/
.DiscardButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -124px -27px;}/*报废*/
.CancelDiscardButton_Menument{background:url('../Loading/按钮合集.png') no-repeat  -161px -77px;}/*取消报废*/
.DetailButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -259px -77px;}/*详细*/
.CancelOrderButton_Menument{background:url('../Loading/按钮合集.png') no-repeat  -161px -77px;}/*取消订单*/
.ChooseButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -124px -2px;}/*选择*/
.SanctionButton_Menument{background:url('../Loading/按钮合集.png') no-repeat -124px -2px;}/*批准*/
.TaskReceiving_Menument{background:url('../Loading/按钮合集.png') no-repeat  -124px -102px;}/*任务接收*/
.CapacityAnalysis_Menument{background:url('../Loading/按钮合集.png') no-repeat  -207px -102px;}/*产能分析*/
.ProductionRelease_Menument{background:url('../Loading/按钮合集.png') no-repeat  -98px -127px;}/*排产解除*/
.ConfirmedProduction_Menument{background:url('../Loading/按钮合集.png') no-repeat  -196px -127px;}/*确认排产*/
.ProcessProduction_Menument{background:url('../Loading/按钮合集.png') no-repeat  0px -127px;}/*加工排产*/
.ErectionProduction_Menument{background:url('../Loading/按钮合集.png') no-repeat  0px -127px;}/*总装排产*/
.NextStep_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*下一步*/
.BackStep_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*上一步*/
.GanttChart_Menument{background:url('../Loading/按钮合集.png') no-repeat  0px -127px;}/*查看甘特图*/
.Application_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*申请*/
.Empty_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*清空*/
.Preview_Menument{background:url('../Loading/按钮合集.png') no-repeat  -296px -127px;}/*预览*/
.InStorage_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*入库*/
.OutStorage_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*出库*/
.TransferCard_Menument{background:url('../Loading/按钮合集.png') no-repeat  0px -127px;}/*加工流转卡*/
.MaterialConfirm_Menument{background:url('../Loading/按钮合集.png') no-repeat  -307px -102px;}/*原料确认*/
.SchedulingNotice_Menument{background:url('../Loading/按钮合集.png') no-repeat  -124px -102px;}/*调度单生成*/
.IssueRequisitions_Menument{background:url('../Loading/按钮合集.png') no-repeat  0px -127px;}/*开具领料单*/
.WarehouseButton_Menument{background:url('../Loading/按钮合集.png') no-repeat  -2px -152px;}/*交仓*/
.ViewEyesButton_Menument{background:url('../Loading/按钮合集.png') no-repeat  -296px -127px;}/*查看*/

.SaveButton_Menument:hover,.EditButton_Menument:hover,.CloseButton_Menument:hover,.NewlyBuildButton_Menument:hover,.AddButton_Menument:hover,.ConfirmationButton_Menument:hover,.DeleteButton_Menument:hover,.BackButton_Menument:hover,.Examine_Menument:hover,
.PrintButton_Menument:hover,.LoadingButton_Menument:hover,.HandLoadingButton_Menument:hover,.PrintPreviewButton_Menument:hover,.LineAdditionButton_Menument:hover,.CreateTicketButton_Menument:hover,.CancelDiscardButton_Menument:hover,.DiscardButton_Menument:hover,
.CancelOrderButton_Menument:hover,.ChooseButton_Menument:hover,.SanctionButton_Menument:hover,.TaskReceiving_Menument:hover,.CapacityAnalysis_Menument:hover,.ProductionRelease_Menument:hover,.ConfirmedProduction_Menument:hover,.ProcessProduction_Menument:hover,
.ErectionProduction_Menument:hover,.NextStep_Menument:hover,.BackStep_Menument:hover,.Application_Menument:hover,.Empty_Menument:hover,.Preview_Menument:hover,.InStorage_Menument:hover,.OutStorage_Menument:hover,.TransferCard_Menument:hover,.MaterialConfirm_Menument:hover,
.SchedulingNotice_Menument:hover,.ImportButton_Menument:hover/*导入*/,.ExportButton_Menument:hover/*导出*/,.IssueRequisitions_Menument:hover/*开具领料单*/,.WarehouseButton_Menument:hover/*交仓*/,.ViewEyesButton_Menument:hover/*查看*/
{font-weight:bolder;/*color:rgb(100,191,223);*/cursor:pointer;}

#mainPanle * {font-size: 12pt;font-family: Tahoma, Verdana, 微软雅黑, 新宋体}
/*最上面按钮区域*/
.FunctionButton_Area{width: 100%; margin-top:5px;text-align:right;}
/*标题名称区域*/
.Company_Title{width: 100%; text-align: center;font-size: 18px;color:black;}/*公司名称*/
.PageTitle_div{	width: 100%; text-align: center;font-size:19px;font-weight:600;}/*当前页面标题*/
/*水平线区域*/
.LeverLine_div{margin: 5px 0px; width: 100%;}/*水平线div*/
hr{width: 100%; color: #95B8E7;}
/*查询条件区域*/
 .div_search/*总装大工票的的搜索条件的Div*/ 
 {
        width:100%;
        height:auto;
        margin-bottom:20px;
        text-align:center;
 }
.Search_Form{color:black;font-size:15px;}/*总装大工票form的字体*/
.Search_Form>table.table_search{margin:auto;text-align:center;}
.Search_Form span.combo.datebox.Search_InputSpan{width:110px;height:20px;padding:0;}/*查询输入框的span*/
.Search_Form .combo-text.Style_inputmine{margin:0;width:87px;}/*查询输入框*/
.Search_Form span.searchbox-smallbutton{filter:alpha(opacity=60);opacity:0.6;background:url('../../Scripts/js/themes/icons/search_icon.png') no-repeat;width:18px;height:20px;border-left:0;background-position:center;display:inline-block;overflow:hidden;vertical-align:top;cursor:pointer;background-color:white;}/*查询输入框后面的查询按钮*/
.Search_Form span.searchbox-smallbutton:hover{filter:alpha(opacity=100);opacity:1;}
.Search_Form > .table .row div{text-align:right;}/*总装调度单下的查询条件标题*/
.combo-text.validatebox-text{height:20px;line-height:20px;width:83px;}/*总装调度单日历控件布局的大小，生产单元里的input*/
/*.Search_Form input:focus{border:1px solid #c7a159;}*//*查询输入框获取焦点的样式*/
.Search_Form span.combo.datebox{vertical-align:top;}/*日历的span水平对齐*/
.combo-text.validatebox-text:focus{border:0;}/*下拉框*/
.combo .combo-text {/*总装调度单控件span里的input（下拉框，日历）*/
  font-size: 12px;
  border: 0px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  padding: 0px 2px;
  /*margin-top: -1px;
  *height: 18px;
  *line-height: 18px;
  _height: 18px;
  _line-height: 18px;*/
  vertical-align:baseline;
}
.readOnly_class{cursor:not-allowed;}
.Search_Form .Select_customizeOne + span.combo>input{vertical-align:top;}/*下拉框的text*/
.Search_Form .normal_input/*不带放大镜的输入框*/
{
	border:1px solid #95B8E7;
	width:110px;
	height:18px;
	line-height:18px;
	vertical-align:top;
}
.Search_Form .SearchButton_Menument{width:60px;height:25px;padding-left:20px; border:0;font:13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;}/*查询按钮 单独*/
.Search_Form .SearchButton_Menument:focus{border:0;}/*查找按钮获取焦点的后的样式*/
.Search_Form .SearchButton_Menument:hover{font-weight:bolder;cursor:pointer;}
.datagrid-pager.pagination .pagination-num:focus{border:1px solid #c7a159;}/*指定页面页数的输入框*/
/*表头栏*/
.datagrid-header,datagrid-header-inner,.datagrid-htable{height:35px;}
.datagrid-wrap.panel-body.panel-body-noheader{border:1px solid #95B8E7;}/*表格的边*/
.datagrid-htable 
{	
	color:#0f5c80;
	font-size:15px;
	font-weight:700;	
	/*filter: alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#f6f6f6',endcolorstr='#d8d8da',gradientType=0);*/
    /*-ms-filter: alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#f6f6f6',endcolorstr='#d8d8da',gradientType=0); *//*IE8*/
    background: -moz-linear-gradient(top, #f6f6f6, rgba(216, 216, 218, 1));
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f6f6f6), to(rgba(216, 216, 218, 1)));	
	-pie-background: linear-gradient(#f6f6f6, #d8d8da);	
	behavior:url('../../Scripts/js/PIE.htc')
}
.datagrid-wrap.panel-body.panel-body-noheader > .datagrid-view > .datagrid-view2 > div.datagrid-body{border-top:1px solid #95B8E7;}/*表头下边线*/
#weekTable .e-table-header,/*内部加工计划拖动table表头*/
#monthTable div.e-table-header
{
	color:#0f5c80;
	font-weight:700;
	filter: alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#f6f6f6',endcolorstr='#d8d8da',gradientType=0);
    /*-ms-filter: alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#f6f6f6',endcolorstr='#d8d8da',gradientType=0); *//*IE8*/
    background: -moz-linear-gradient(top, #f6f6f6, rgba(216, 216, 218, 1));
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f6f6f6), to(rgba(216, 216, 218, 1)));
	/*border-bottom:1px dotted #CCCCCC;*/
}
/*#weekTable div.e-table-header>div>div,#monthTable div.e-table-header>div>div {
        border-right: 1px dotted #ccc;
    }*/
/*.container > .monthTable > .e-table-viewport table.e-table-table tr.e-table-row.e-table-row-selected div.resizeDiv{background-color:blue;}*//*加工排产（中计划）第一个拖动条*/
/*.container > .monthTable > .e-table-viewport table.e-table-table tr.e-table-row.e-table-row-selected + tr.e-table-row div.resizeDiv{background-color:blue;}*//*加工排产（中计划）第二个拖动条*/
 
/*表内容*/
.datagrid-btable .datagrid-row{font-size:14px;}
/*翻页栏*/
.pagination span {font-size: 12px;}/*当前页数输入框右边的总页数*/
.pagination-info {/*显示条数*/
  float: right;
  margin: 0 6px 0 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.pagination-first{background: url('../../Scripts/js/themes/default/images/pagination_icons.png') no-repeat 0 0;}
.pagination-prev{background: url('../../Scripts/js/themes/default/images/pagination_icons.png') no-repeat -16px 0;}
.pagination-next {background: url('../../Scripts/js/themes/default/images/pagination_icons.png') no-repeat -32px 0;}
.pagination-last {background: url('../../Scripts/js/themes/default/images/pagination_icons.png') no-repeat -48px 0;}
.pagination-load {background: url('../../Scripts/js/themes/default/images/pagination_icons.png') no-repeat -64px 0;}
.pagination-page-list,.pagination .pagination-num {border-color: #95B8E7;}
/*.pagination-page-list{background:url('../../Scripts/js/themes/default/images/combo_arrow.png') no-repeat;background-position:80% 0;}*/
.datebox-current,.datebox-clear,.datebox-close{font-family:Aparajita,Aharoni,Arial, "宋体", Tahoma, "Times NEW Roman";}
/*自动弹出框*/
.mytable{border-collapse:collapse;}
.mytable tr{border-bottom:1px solid #95B8E7;cursor:pointer;font-size:13px;white-space:nowrap;}
.mytd{text-align:left;height:15px;overflow:hidden;}
/* 内部加工拖动条的三种颜色*/
.DragStrip_first{background-color:Red;}/*拖动条1-------红色*/
.DragStrip_Second{background-color:yellow;}/*拖动条2-------黄色*/
.DragStrip_Third{background-color:orange;}/*拖动条3-------橙色*/



/*20131230 杜兴军 部分屏蔽打印的class*/
@media print{.noprint{display: none;}}





