@{
    ViewBag.Title = "Create";
   
}

<link rel="stylesheet" href="./Content/css/Store/WipStore.css" /> 
<style type="text/css">

.table_detail {
    width:920px;
    height:200px;
    border-collapse:collapse;
    border-width:0px;
    text-align:center;
    
}
.table_detail td{
    border-style:dotted;
    border-color:#838383;
    border-width:1px;
    text-align:center;
}
.table_detail .tr_thead{
  text-align: center;
}
.tr_thead td {
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#FFFFFF',endcolorstr='#c4c0c0',gradientType=0); 
/*-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#FFFFFF',endcolorstr='#c4c0c0',gradientType=0);/*IE8*/*/ 
background:-moz-linear-gradient(top, red, rgba(0, 0, 255, 0.5)); 
background:-webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(rgba(209, 209, 209, 0.8)))
   }
.table_detail .tr_data{
    background-color:white;
    text-align: center;
 
}

td .td_detail_input {
    width:220px;
    height:20px;
    text-align:center;
}
td .td_detail_input1 {
    width:860px;
    height:25px;
}
.form_detail {
   width:950px;
    height:200px;
	text-align:center;
}


</style>
<script>
    //返回盘库页面
    var backInfos = function (a) {
        if (a = 1) {
            var $tabs = $("#tabs");
            var $tab = $("#tabs").tabs("getSelected");
            $tabs.tabs("update", {
                tab: $tab,
                options: {
                    href: "/Store/WipINV/Index",
                }
            });
        };
    }
    //保存按钮,添加盘库数据
    var saveInfos = function () {
        $(form4Add).formSubmit([
            "/Store/WipINV/Create",
            function (param) {//除表单外的数据
                return $(form4Add).form("validate");
            },
            function (data) {
                var data = eval('(' + data + ')');
                if (data.result == true) {//返回的结果(true/false)
                    $.messager.alert("友情提示", "添加成功! ");
                    backInfos();
                } else {
                    //do something...
                    console.info(arguments);
                    alert("添加失败");
                }
                console.info(arguments);
            },
            function () {
                alert("error");
                console.info(arguments);
            }

        ]);
    };

    </script>
<div class="buttons" style="width:100%;text-align:right;"><br />
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-print' onclick='addInfos();'>打印</a>
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='addInfos();'>审核</a>
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-save' onclick='saveInfos();'>保存</a>
    <a class="easyui-linkbutton" iconCls='icon-cancel' onclick='parent.closeTab(gTitle);'>关闭</a>

    <span style="width:80px;margin-right:10%">&nbsp;</span>
</div>
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div style="width:100%;text-align:center;">
    <h2>盘库</h2><br />
</div>
<div class="datagrid" style="text-align:center;width:920px;">
 <form  id="form4Add" method="post" action=""  style="text-align:center;">

      <table class="datagrid-htable table_detail "  style="text-align:center;">
          <tr class="datagrid-header-row tr_thead">
              <td style="width:80px">盘库编号</td>
              <td><input type="text" class="td_detail_input" name="DeliverId"/></td>
              <td style="width:80px">指示编号</td>
              <td><input type="text" class="td_detail_input" name="Id"/></td>
              <td style="width:80px">仓库编号</td>
              <td><input type="text" class="td_detail_input" name="SupplierName"/></td>
           
          </tr>
        <tr class="datagrid-header-row tr_thead">
              <td style="width:80px">仓管员名称</td>
              <td><input type="text" class="td_detail_input" name="MatterName"/></td>
             <td style="width:80px">执行日期</td>
              <td><input type="text" class="td_detail_input"/></td>
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
          </tr>
          <tr class="datagrid-header-row tr_thead">
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
             <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
          </tr>
          <tr class="datagrid-header-row tr_thead">
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
             <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
          </tr>
          <tr class="datagrid-header-row tr_thead">
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
             <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
          </tr>
          <tr class="datagrid-header-row tr_thead">
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
             <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
              <td style="width:80px">订单号</td>
              <td><input type="text" class="td_detail_input"/></td>
          </tr>
          <tr class="datagrid-header-row tr_thead">
                  <td style="width:80px">备注</td>
              <td colspan="6"><input type="text" class="td_detail_input1"/></td>

          </tr>
   

      </table>
    
</form>
    </div>