@model int

@*<link rel="stylesheet" href="~/Content/UserInfo/userInfo.css" />*@
<link rel="stylesheet" href="~/Content/css/Store/WipStore.css">
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改
    var form4Add = "#form4Add";
    var form4Update = form4Add;

    var model = ["add", "update"];
    var addOrUpdate;//标志:添加还是修改

    var Id;//暂存修改时的id(主键)

    function printFun() {
        window.print();
        alert("打印功能");
    }

    //转到新增页面
    var addInfos = function (a) {
        if (a = 1) {
            var $tabs = parent.$("#tabs");
            var $tab = parent.$("#tabs").tabs("getSelected");
            $tabs.tabs("update", {
                tab: $tab,
                options: {
                    href: "/Store/WipINV/Create",
                }
            });
        };
    }

    //根据Enable修改某条记录
    var deleteInfos = function () {
        var row = $(tableName).datagrid('getSelections');
        if (row.length > 0) {
            var checkID = "";
            for (var i = 0; i < row.length; i++) {
                checkID += row[i].Id + ",";
            }
            checkID = checkID.substring(0, checkID.length - 1);
            //发送异步请求传递给后台我们所选中的数据
            $.messager.confirm("友情提示", "确认删除?", function (updateOK) {
                if (updateOK) {
                    $.post("/Store/WipINV/Edit", { Id: checkID }, function (data) {
                        var _data = eval('(' + data + ')');
                        console.info(_data);
                        if (_data.result == true) {
                            $(tableName).datagrid("reload");
                        } else {
                            $.messager.alert("友情提示", "删除失败! " + data);
                            //do something another...
                        }
                    });
                }
            });
            row.length = 0;
          
        } else {
             $.messager.alert("友情提示", "请选择删除数据! ");
        }
    };

    //文本框点击事件
    function mngRol(str) {
        alert(str+"terwterte")
    }

    function SearchBox(value, name) {
        alert(value + ":" + name)
    }
    //搜索
    var searchFun = function () {
        $(formName).form("submit", {//ajax form提交
            url: "/Store/WipINV/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;//pagerOptions.pageNumber;
            },
            success: function (data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    }

    //列属性:field,title,width,sortable,editor,formatter
    var columns = [[
        ["DeliverId", "盘库编号", 150, true],
        ["Id", "指示编号", 100, true],
        ["SupplierName", "仓库编号", 150, true],
        ["MatterName", "仓管员名称", 100, false],
        ["MatterName", "盘库内容", 100, false],
        ["MatterName", "物料编号", 100, false],
        ["MatterName", "物料名称", 100, false],
        ["MatterName", "物料规格", 100, false],
        ["MatterName", "库存数量", 100, false],
        ["MatterName", "锁定数量", 100, false],
        ["MatterName", "需求数量", 100, false],
        ["MatterName", "结余数量", 100, false],
        ["MatterName", "亏损数量", 100, false],
        ["Paydate", "执行日期", 120, true, { type: "text" }, function (value, row, index) {
            var date;
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy-MM-dd");
            row.Paydate = str;
            return  str ;
        }],
            ["Aduser", "执行人员", 100, false],
            ["MatterName", "防腐情况", 100, false],
            ["MatterName", "仓位情况", 100, false],
            ["MatterName", "占用情况", 100, false],
            ["MatterName", "备注", 100, false],
    ]];

    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/WipINV/Get",
            columns: columns,
            idField: "Id",
            toolbar: $("#toolbar"),//工具栏 
            checkbox: true,//是否显示checkbox
            maxWidth: 950,
            maxHeight: 200,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! "); 
            },
            onCreating: function (data) {
                //do something...
            }
        });
    });

</script>

<div class="buttons" style="width:100%;text-align:right;"><br />
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-print' onclick='printFun();'>打印</a>
     <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='addInfos();'>新增</a>
     <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-remove' onclick='deleteInfos();'>删除</a>

    @if (Model == 1) { //拥有新建权限
    <a class="easyui-linkbutton" iconCls='icon-cancel' onclick='parent.closeTab(gTitle);'>关闭</a>
}
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div style="width:100%;text-align:center;">
    <h2>盘库</h2><br />
</div>

<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>
<div id="toolbar" style='display:none'>
    <form id='searchForm' method='post'>
        <br/>
        &nbsp;&nbsp;盘库编号：<input id='DeliverId'class="easyui-searchbox" style="width:90px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='DeliverId'/>      
        &nbsp;&nbsp;仓库编号：<input id='SupplierName'class="easyui-searchbox" style="width:90px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='SupplierName'/>     
        &nbsp;&nbsp;物料编号：<input id="MatterName" class="easyui-searchbox" style="width:90px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name="MatterName"/> 
        &nbsp;&nbsp;日期：<input id='MatterName6'style="width:110px" type='text' class='easyui-datebox' name='MatterName'/>&nbsp;~&nbsp;<input id='MatterName7'style="width:110px" type='text' class='easyui-datebox' name='MatterName'/>    
        &nbsp;&nbsp;<a class='easyui-linkbutton' href='javascript:void(0);' onclick='searchFun();'>查询</a>
    </form>
    <br/>
</div>


