@{
    ViewBag.Title = "总装小工票";
}

<style type="text/css">
    .div_search {
        width:100%;
        height:auto;
        margin-bottom:20px;
        text-align:center;
    }
    .table_search {
        margin:auto;
       
        text-align:left;
    }
    .table_search td {
       
    }
    .div_main {
        text-align:center;
        width:auto;
        height:auto;
       
    }
    .div_datagrid .datagrid{
        width:auto;
        height:auto;
        text-align:center;
        margin:auto;
    }
    .div_dialog_title {
        width:100%;
        height:100%;
        text-align:center;
    }
    .div_detail {
         padding-left:50px;
        padding-bottom:20px;
        padding-right:50px;
        width:90%;
    
    }


</style>

<script>
    var dialog_Width = 960;
    var dialog_Height = 600;


    var data_Table_Name = "#Data_Table";//数据列表表格
    var search_Form_Name = "#Search_Form";//搜索form
    var detail_Form = "#Detail_Form";//添加form
    var update_Form = detail_Form;//修改form

    var operator_Model = ["add","update"];//
    var operator_Flag;//标志:添加还是修改

    var UId;//暂存修改时的uid(主键)

    //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
    var TABLE_COLUMNS = [[
        ["OrderNO", "订单号", null, true],
        ["DispatchID", "调度单号", 100, true, ""],
        ["ProductType", "产品类型", null, true],
        ["AssemBillID", "工票编号", 100, true, ""],
        ["Operator", "操作者", 100, false],
        ["Date", "日期", 100, true, { type: "text" }, function (value, row, index) {
            var date;
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy-MM-dd");
            row.Addate = str;
            return str;
        }],
        ["TeamLeader", "组长", null, false, true],
        ["Checker", "检验员", null, false, true]
    ]];

    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: data_Table_Name,//table容器,必须
            url: "/Produce/FAWorkticket/Get",//获取数据的地址,必须
            columns: TABLE_COLUMNS,//列属性,必须
            idField: "BillId",//标识字段
            checkbox: true,//是否显示checkbox
            maxWidth: 950,//最大宽度
            maxHeight: 200,//最大高度
            pageSize: 10, pageList: [10, 20, 30],
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件

                var arr = $(search_Form_Name).serializeArray();

                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            }
        });


    });


    //一致性验证
    /*$.extend($.fn.validatebox.defaults.rules,{
        equals:{
            validator:function(value,param){
                return value==$(param[0]).val();
            },
            message:"密码不一致，请重新输入"
        }     
    });*/

    //弹出"添加人员信息"窗口
    var show_detail_form_Fun = function () {
        //$(detail_form).form("clear");//清空表单
        var dialog = $("#dlg");
        var form = $(detail_Form);
        form.form("clear");
        //dialog.find("div.ftitle").text("新增物料领用单");//修改dialog标题
        $('#p').panel({
            fit:true,
            href: '/Produce/FAWorkticket/Details/5',
            onLoad: function () {
                alert('loaded successfully');
            }
        });
        $('#p').attr("style","width:100%;height:100%");

        dialog.dialog({ title: "<div class='div_dialog_title'>工票</div>", width: dialog_Width, height: dialog_Height, modal: true }).dialog("open");//模式化打开dialog
        operator_Flag = operator_Model[0];
    };

    
   
    //导出，待修改
    var exportFun = function () {
        var row = $(data_Table_Name).datagrid("getSelected");
        console.info(row);
        alert("导出数据");
    };

    //搜索
    var search_Btn_Fun = function () {
        $(search_Form_Name).form("submit",{//form提交
            url: "/Produce/FAWorkticket/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = $(data_Table_Name).datagrid("getPager");
                var pagerOptions=$(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function (data) {
                $(data_Table_Name).datagrid("loadData",eval('('+data+')'));//重新加载数据
            }
        });
    }
    //确定按钮,添加和修改数据,待修改
    var operator_Btn_Ensure_Fun = function () {
        if (operator_Flag == operator_Model[0]) {//添加人员信息    
            $(detail_form).formSubmit([
                "/Produce/FAWorkticket/Create",
                function (param) {//除表单外的数据
                    return $(detail_form).form("validate");
                },
                function (data) {
                    var data = eval('(' + data + ')');
                    if (data.result == true) {//返回的结果(true/false)
                        $(data_Table_Name).datagrid("reload");
                        $("#dlg").dialog("close");
                    } else {
                        //do something...
                        console.info(arguments);
                        alert("添加失败");
                    }
                    console.info(arguments);
                },
                function () {
                    alert("error");
                    console.info(arguments);
                }

            ]);
        } else {//更新人员信息
            $(data_Table_Name).formSubmit([
                "/Produce/FAWorkticket/Edit",
                function (param) {
                    param.UId = UId;//把uid作为额外数据post
                    if ($(data_Table_Name).find("input:checkbox").is(":checked")) {
                        param.Enabled = true;
                    } else {
                        param.Enabled = false;
                    }
                    return $(data_Table_Name).form("validate");
                    //console.info($(data_Table_Name).find("input:checkbox").is(":checked"));
                },
                function (data) {
                    var _data = eval('(' + data + ')');
                    if (_data.result == true) {//返回的结果(true/false)
                        $(data_Table_Name).datagrid("reload");
                        $("#dlg").dialog("close");
                    } else {
                        //do something...
                    }
                }
            ]);

        }
    };

    //根据主键删除某条记录,参数：用户id
    var delete_Infos_Fun = function (uid) {
        $.messager.confirm("Confirm", "确认删除本条记录?", function (r) {
            if (r) {
                $.post("/Produce/FAWorkticket/Delete", { UId: uid }, function (data) {
                    var _data = eval('(' + data + ')');
                    console.info(_data);
                    if (_data.result == true) {
                        $(data_Table_Name).datagrid("reload");
                    } else {
                        alert("删除失败,请重新操作");
                        //do something another...
                    }
                });
            }
        });
    };
  

</script>

    <div class="buttons" style="width:100%;text-align:right;">
    @if (Model == 1) { //拥有新建权限
        <a class="easyui-linkbutton" iconCls='icon-add' onclick='show_detail_form_Fun();'>新建</a>
    }
        <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='exportFun();'>导出</a>
        <a class="easyui-linkbutton" iconCls='icon-add' onclick='showWebform();'>报表显示</a>
        <span style="width:100px;margin-right:10%">&nbsp;</span>
    </div>

    <div style="width:100%;margin:20px 0;">
        <hr style="width:100%;color:#95B8E7"/>
    </div>

    <div style="width:100%;text-align:center;">
        <h2>总装小工票</h2>
    </div>
    <div class="div_main">
        <div id="toolbar" class="div_search">
            <form id='Search_Form'  method='post'>
                <table class="table_search">
                <tr>
                    <td> 订单号：</td><td><input id='' type='text' class='' name='' maxlength="15" size="15" /></td>
                    <td>调度单号：</td><td><input id='work_No' type='text' class='' name='work_No' maxlength="15" size="15" /></td>
                    <td>产品类型：</td><td><input id='' type='text' class='' name=''  maxlength="15" size="15"/></td>
                    <td>工票编号：</td><td><input id='' type='text' class='' name=''  maxlength="15" size="15"/></td>
                </tr>
                <tr>
                   <td> 操作者：</td><td><input id='' type='text' class='' name=''  maxlength="15" size="15"/></td><td>开始日期：</td><td><input id='time_Begin' type='text' class='easyui-datebox' name='time_Begin'/>
                   <td>结束日期：</td><td><input id='time_Begin' type='text' class='easyui-datebox' name='time_Begin'/></td>
                   <td><a class='easyui-linkbutton' href='javascript:void(0);' onclick='search_Btn_Fun();'>查询</a></td>
                </tr>
                </table>
            </form>
        </div>
        <div class="div_datagrid" >
            <table id="Data_Table"></table>
        </div>
        <div class="div_datagrid">

            <table id="complexTable"></table>
        </div>
    </div>
<div id="dlg" title="信息框" class="easyui-dialog" closed="true"style="" buttons="#formAddBtn">
     <div id="p" class="div_detail">
            <p>panel content.</p>
      </div>
</div>
<div id="formAddBtn">
    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-reset" onclick="$(detail_Form).form('clear');">重置</a>
    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" onclick="operator_Btn_Ensure_Fun();">确定</a>
</div>



