<div class="div_main">
        <div id="toolbar" class="div_search">
            <form id='Search_Form' class="Search_Form"  method='post'>
                <table class="table_search" style="margin:auto;">
                <tr>
                    <td>客户订单号：</td><td><input id='CustomOrderNO' type='text' class='' name='CustomOrderNO' maxlength="15" size="15" value=""/></td>
                    <td>调度单号：</td><td><input id='DispatchID' type='text' class='' name='DispatchID' maxlength="15" size="15" value=""/></td>
                    <td>工票号码：</td><td><input id='AssemBillID' type='text' class='' name='AssemBillID' maxlength="15" size="15"value="" /></td>
                   
                </tr>
                <tr>
                    <td>产品型号：</td><td><input id='ProductType' type='text' class='' name='ProductType'  maxlength="15" size="15" value=""/></td>
                    <td>生产单元：</td><td>
                        <select name="ProduceUnit">
                        <option value="0" selected="selected">全部</option>
                        <option value="1">涨紧轮</option>
                        <option value="2">分离单元</option>
                      </select></td>
                   <td>是否完结：</td>
                    <td ><select name="IsOver">
                        <option value="0" selected="selected">全部</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                      </select><a class='easyui-linkbutton' href='javascript:void(0);' onclick='search_Btn_Fun();'>查询</a></td>
                </tr>
                </table>
            </form>
        </div>
        <div class="div_datagrid" >
            <table id="Data_Table"></table>
        </div>
        <div class="div_datagrid">

            <table id="complexTable"></table>
        </div>
    </div>
