<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)
</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">   
    @RenderBody()
</body>
</html>
