@{
    ViewBag.Title = "ErrorException";
}
<style type="text/css">
    .td-head{
        width:160px;
    }
    table .tr {
        height:50px;
    }
    td {
        border-style:double;
        border-width:2px;
        border-color:blue;
        text-align:left;
    }
</style>
<div style="margin:auto;width:100%;text-align:center">
<h2>ExceptionPage!异常页面</h2>
<div style="margin:auto;width:80%">
    <table style="margin:auto;width:100%">
        <tr>
            <td colspan="2" style="text-align:center;font-size:16px;">怎么回事，页面又爆了，写代码时注意点！</td>
           
        </tr>
        <tr class="tr">
            <td class="td-head">异常信息：</td><td><span style="color:red">@ViewData["Msg"]</span></td>
        </tr>
        <tr class="tr">
            <td class="td-head">子异常信息：</td><td><span style="color:red">@ViewData["InnerMsg"]</span></td>

        </tr>
        <tr class="tr">
            <td class="td-head">请求路径：</td><td><span style="color:red">@ViewData["Path"]</span></td>

        </tr>
        <tr>
            <td class="td-head">异常堆栈信息</td>
            <td>
                <span style="color:red">@ViewData["Stack"]</span>
            </td>

        </tr>
    </table> 

</div>
<div></div>
</div>
