@model System.Collections.Specialized.NameValueCollection
@{
    Layout = "~/Areas/Admin/Views/Shared/Edit_Layout.cshtml";
}
<div style="clear: both;">
    <div class="editor-label">
        @ViewBag.id
    </div>
    <div class="editor-field">
        @Html.TextBox("value")
        @Html.ValidationMessage("value")
    </div>
</div>
