@model int
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
 }

<link rel="stylesheet" href="~/Content/css/Admin/userInfo.css">
<style>
	/*td{width:30px;border-width:1px;border-color:red;}
	.mouseover{background-color:skyblue;}
	.mytable{border:1px solid gray;}
    #forAutoSearch {background-color: white;}*/
    #forAutoSearch td{height: 20px;overflow:hidden;}
    .mytr,.mytd{height: 20px;}
</style>
<script>

    function showWebform() {
        $.ajax({
            url: '/Admin/UserInfo/TransDateToReport',
            type: 'POST',
            //contentType: 'application/json;',
            //dataType: 'json',
            success: function() {
                window.open("../../WebForms/FormShowRpt.aspx", 'mywindow', 'fullscreen=yes, scrollbars=auto');
            }
        });
    }

    var tableName = "#userTable";
//待修改
    var formName = "#searchForm";
//待修改
    var form4Add = "#form4Add";
    var form4Update = form4Add;

    var model = ["add", "update"];
    var addOrUpdate;
//标志:添加还是修改

    var UId;
//暂存修改时的uid(主键)
    

    //一致性验证
    $.extend($.fn.validatebox.defaults.rules, {
        equals: {
            validator: function(value, param) {
                return value == $(param[0]).val();
            },
            message: "密码不一致，请重新输入"
        }
    });

    //弹出"添加人员信息"窗口
    var createFun = function() {
        //$(form4Add).form("clear");//清空表单
        var dialog = $("#dlg");
        var form = $(form4Add);
        form.form("clear");
        $("#comboDept").combobox("reload", "/Admin/Department/Get"); //请求部门信息
        dialog.find("div.ftitle").text("添加人员信息"); //修改dialog标题
        dialog.dialog({ modal: true }).dialog("open"); //模式化打开dialog
        addOrUpdate = model[0];
    };

    //确定按钮,添加和修改数据,待修改
    var ensure = function() {
        if (addOrUpdate == model[0]) { //添加人员信息    
            $(form4Add).formSubmit([
                "/Admin/UserInfo/Create",
                function(param) { //除表单外的数据
                    return $(form4Add).form("validate");
                },
                function(data) {
                    var data = eval('(' + data + ')');
                    if (data.result == true) { //返回的结果(true/false)
                        $(tableName).datagrid("reload");
                        $("#dlg").dialog("close");
                    } else {
                        //do something...
                        console.info(arguments);
                        alert("添加失败");
                    }
                    console.info(arguments);
                },
                function() {
                    alert("error");
                    console.info(arguments);
                }
            ]);
        } else { //更新人员信息
            $(form4Update).formSubmit([
                "/Admin/UserInfo/Edit",
                function(param) {
                    param.UId = UId; //把uid作为额外数据post
                    if ($(form4Update).find("input:checkbox").is(":checked")) {
                        param.Enabled = true;
                    } else {
                        param.Enabled = false;
                    }
                    return $(form4Update).form("validate");
                    //console.info($(form4Update).find("input:checkbox").is(":checked"));
                },
                function(data) {
                    var _data = eval('(' + data + ')');
                    if (_data.result == true) { //返回的结果(true/false)
                        $(tableName).datagrid("reload");
                        $("#dlg").dialog("close");
                    } else {
                        //do something...
                    }
                }
            ]);

        }
    };

    //根据主键删除某条记录,参数：用户id
    var deleteInfos = function(uid) {
        $.messager.confirm("Confirm", "确认删除本条记录?", function(r) {
            if (r) {
                $.post("/Admin/UserInfo/Delete", { UId: uid }, function(data) {
                    var _data = eval('(' + data + ')');
                    console.info(_data);
                    if (_data.result == true) {
                        $(tableName).datagrid("reload");
                    } else {
                        alert("删除失败,请重新操作");
                        //do something another...
                    }
                });
            }
        });
    };

    //弹出"修改人员信息"窗口,参数：用户id,部门id
    var updateFun = function () {
        var row = $(tableName).datagrid('getSelections');
        if (row.length == 1) {
            var uid = row[0].UId;
            var deptId = row[0].DeptName;
            var dialog = $("#dlg");
            var form = $(form4Update);
            UId = uid;
            form.form("clear");
            $("#comboDept").combobox("reload", "/Admin/Department/Get");
            if (deptId == "" || deptId == "null") {
                deptId = "";
            }
            form.form("load", { DeptId: deptId }); //加载当前用户的部门Id
            //$("#comboDept").combobox("reload");
            dialog.find("div.ftitle").text("修改人员信息");
            dialog.dialog({ modal: true }).dialog("open");
            $.messager.progress(); //加载进度条
            addOrUpdate = model[1];
            $.ajax({
                async: true,
                url: "/Admin/UserInfo/Get",
                data: { UId: uid },
                dataType: "json",
                type: "post",
                success: function (data) {
                    var _data = data.rows[0];
                    if (_data.Enabled == true) {
                        _data.Enabled = "on"; //选中状态
                    }
                    _data.RUPwd = _data.UPwd;
                    form.form("load", _data);
                    $.messager.progress("close");
                },
                error: function () {
                    $.messager.progress("close");
                    console.info(arguments);
                    alert("请求服务器失败，请刷新页面重试!");
                }
            })

        }
        else {
            $.messager.alert("友情提示", "请您选择一条要修改的数据!");
        }
      ;
    };

    //导出，待修改
    var exportFun = function() {
        var row = $(tableName).datagrid("getSelected");
        console.info(row);
        alert("导出数据");
    };

    //搜索
    var searchFun = function() {
        $(formName).form("submit", {
//form提交
            url: "/Admin/UserInfo/Get",
            onSubmit: function(param) { //除表单外的数据(分页)
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function(data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')')); //重新加载数据
            }
        });
    };

    //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
    var columns = [[
        //["UName", "昵称", null, true],
        //["RealName", "姓名", null, true],
        ["Sex", "性别", 60, true, "", function(value, row, index) { //列内容格式化
            var str;
            switch (value+"") {
                case "1":
                    str = "男";break;
                case "0":
                    str = "女"; break;
                default:
                    str = "";
            }
            return str;
        }],
        ["Tel", "电话", 100, false],
        ["Email", "邮箱", 120, false],
        ["DeptName", "部门", null, false, true],
        ["Addate", "添加日期", 100, true, { type: "autoComplete", options: { model: "user" } }, function(value, row, index) {
            var str = DtToString(value);//将c#的DateTime转为字符串
            row.Addate = str;
            return str;
        }],
        ["Aduser", "添加人员", null, false, false],
        ["Enabled", "启用", 50, false, null, function(value, row, index) {
            if (value == true) {
                return "是";
            } else {
                return "否";
            }
        }],
        ["operator", "操作", 120, false, null, function(value, row, index) {
            var htmlStr = "";
            htmlStr += ("<a href='#' class='operator' onclick=\"" + "deleteInfos('" + row.UId + "')\"" + ">删除</a>");
            htmlStr += ("&nbsp;&nbsp;");
            htmlStr += ("<a href='#' class='operator' onclick=\"" + "updateFun('" + row.UId + "'," + "'" + row.DeptId + "'" + ")\"" + ">修改</a>");
            return htmlStr;
        }]
    ]];

    $(function() {
        //parseAutoSearch();//解析自动检索功能,用法：<input model="autoSearch-user"/>,其中autoSearch固定写法,"user"为预定义的类型字段(如类)

        //一个页面可同时创建多个datagrid
        Common.Functions.createDataGrid({
//创建datagrid,详细内容参见functions.js
            target: tableName,//table容器,必须
            url: "/Admin/UserInfo/Get",//获取数据的地址,必须
            columns: columns,//列属性,必须
            frozenColumns: [[{ title: "昵称", field: "UName", width: 100 }, { field: "RealName", title: "姓名", width: 100 }]],//冻结列
            idField: "UId",//标识字段
            //toolbar: $("#toolbar"),//工具栏
            checkbox: true,//是否显示checkbox
            maxWidth: 950,//最大宽度
            maxHeight: 150,//最大高度
            pageSize: 5,
            pageList: [5, 10, 20, 30],
            onBeforeLoad: function(queryParams) { //可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function() {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function() {
                //alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function(data) { //数据成功加载
                //do something...
            }
        });

        //第二个datagrid
        //Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
        //    target: "#complexTable",//table容器,必须
        //    url: "/Admin/UserInfo/Get",//获取数据的地址,必须
        //    columns: columns,//列属性,必须
        //    idField: "UId",//标识字段
        //    //toolbar: $("#toolbar"),//工具栏
        //    checkbox: true,//是否显示checkbox
        //    maxWidth: 550,//最大宽度
        //    maxHeight: 180,//最大高度
        //    pageSize: 5, pageList: [5, 10, 20, 30],
        //    onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
        //        var arr = $(formName).serializeArray();
        //        $.each(arr, function () {
        //            queryParams[this.name] = this.value;
        //        });
        //    },
        //    onLoadError: function () {
        //        //alert("请求服务器失败，请刷新页面重试!");
        //    },
        //    onCreating: function (data) {//数据成功加载
        //        //do something...
        //    }
        //});

        ///多表头的实现
        Common.Functions.createDataGrid({
//创建datagrid,详细内容参见functions.js
            target: "#complexTable",//table容器,必须
            //url: "/Admin/UserInfo/Get",//获取数据的地址,必须
            columns: [//["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
                [//第一行
                //["field1", "物料名称", null, 2, null, true],
                    ["field2", "规格", null, 2, null],
                    [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "前道工序", null, null, 2],
                    [null, "本工序", null, null, 2]
                ], [//第二行
                    ["field3", "名", null, null, null, true], ["field4", "状态"], ["field5", "工序状态"], ["field6", "状态"]
                ]
            ],//列属性,必须
            //idField: "UId",//标识字段
            frozenColumns: [[{ title: "物料名称", field: "field1", width: 100, rowspan: 2 }]],
            checkbox: true,//是否显示checkbox
            maxWidth: 950,//最大宽度
            maxHeight: 200,//最大高度
            onBeforeLoad: function(queryParams) { //可以添加一些额外参数,主要用于查询条件

            },
            onLoadError: function() {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function(data) { //数据成功加载
                //do something...
            }
        });
        $("#complexTable").datagrid("loadData", {
            total: 2,
            rows: [
                { field1: 'a', field2: "a", field3: "b", field4: "c", field5: "d", field6: "e" },
                { field1: 'b', field2: "a", field3: "a", field4: "c", field5: "d", field6: "e" }
            ]
        });
    });

    //结束事件
    var onEnd = function() {
        if(console){
            if(console.info){
                console.info("args:", arguments, "    this:", this);
            }
        }
    };

</script>

<div class="buttons" style="width:100%;text-align:right;">
@if (Model == 1) { //拥有新建权限
    <a class="easyui-linkbutton" iconCls='icon-add' onclick='createFun();'>新建</a>
}
    <a class="easyui-linkbutton" iconCls='icon-add' onclick='updateFun();'>修改</a>
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-add' onclick='exportFun();'>导出</a>
    <a class="easyui-linkbutton" iconCls='icon-add' onclick='showWebform();'>报表显示</a>
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>

<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>

<div style="width:100%;text-align:center;">
    <h2>用户基本信息</h2>
</div>

<div id="toolbar" style='display:block;margin: 10px 0;text-align: center;'>
    <form id='searchForm' method='post'>
        用户名：<input id='uname' type='text' class1='easyui-searchbox' model="autoSearch-user" data-options="{onEnd:onEnd,field:'Name'}" name='RealName'/>
        &nbsp;&nbsp;&nbsp;&nbsp;性别：
        <select id='sex' name='Sex'>
            <option value='' selected>全部</option>
            <option value=1>男</option>
            <option value=0>女</option>
        </select>
        <a class='easyui-linkbutton' href='javascript:void(0);' onclick='searchFun();'>查询</a>
    </form>
</div>

<div class="datagrid" style="text-align:center;width:100%;">
    <div>
    <table id="userTable"></table></div>
</div>
<div class="datagrid">
    <div>
        <table id="complexTable"></table>
        </div>
</div>

<div id="dlg" title="信息框" class="easyui-dialog" closed="true" style="width:400px;height:300px;" buttons="#formAddBtn">
    <div class="ftitle">添加人员信息</div>
    <form id="form4Add" method="post">
        <span>昵称:</span><input name="UName" onfocus=""/>
        <br /><span>密码:</span><input id="UPwd" type="password" name="UPwd" class="easyui-validatebox" data-options="required:true"/>
        <br /><span>再次输入:</span><input  type="password" class="easyui-validatebox" data-options="required:true" name="RUPwd" validType="equals['#UPwd']" />
        <br /><span>姓名:</span><input name="RealName"/>
        <br /><span>性别:</span>
        <select name="Sex">
            <option value="1" selected>男</option>
            <option value="0">女</option>
        </select>
        <br /><span>电话:</span><input name="Tel"/>
        <br /><span>邮箱:</span><input name="Email"/>
        <br /><span>所属部门:</span><input id="comboDept" name="DeptId" style1="height:100px;" class="easyui-combobox" 
                                       data-options="valueField:'DeptId',textField:'DeptName',method:'post',panelHeight:'auto',
                url1:'/Admin/Department/getAllDepartments'" />
        <br /><span>启用:</span><input type="checkbox" name="Enabled" checked />
        <input type="hidden" name="Id" />
    </form>
</div>

<div id="formAddBtn">
    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-reset" onclick="$(form4Add).form('clear');">重置</a>
    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" onclick="ensure();">确定</a>
</div>



<script>

    $(function() {
        //console.info($(".easyui-searchbox"));

    });
</script>