@{
    ViewBag.Title = "ShowAttribute";
}

<script>
    var table="#AttrTable";

    var Columns = function () {
        var _columns =
          [[
              { field: 'SNo', title: '序号', width: 60 },
              { field: 'AttrValue', title: '属性名称', width: 80 },
              {
                  field: 'Detail', title: '详细', width: 150, editor:
                      {
                          type: 'combobox', options:
                              {
                                  valueField: 'id',
                                  textField: 'text',
                                  panelHeight: 'auto'
                              }
                      }
              }
          ]]
        return _columns;
    };

    $(function () {
        var _data;
        $(table).datagrid({
            columns: Columns(),
            @* url: "/Produce/ProductScheduling/AttributeCollection?MaterialID="+@ViewBag.MaterialID+"",*@
            url: "/Produce/ProductScheduling/AttributeCollection",
            loadFilter: function (data) {
                _data = data;
                return {rows: data.msiData};
            },
            onLoadSuccess:function(data){
                for (i = 0; i < 2; i++) {
                    $(table).datagrid("beginEdit", i);
                }
                var ed = $(table).datagrid("getEditors", 0);
                $(ed[0].target).combobox("loadData", _data.colData);
                ed = $(table).datagrid("getEditors", 1);
                $(ed[0].target).combobox("loadData", _data.harData);
            },
            Width: 290
        });
    });
</script>    


<table id="AttrTable" style="margin:0px;padding:0px;"> </table>
