@model int
<link rel="stylesheet" href="~/Content/css/Admin/userInfo.css" />
<script src="~/Scripts/purchase/PurchaseSchedule.js" type="text/javascript"></script>

<div class="buttons" style="width:100%;text-align:right;">
@if (Model == 1) { //拥有新建权限
    <a class="easyui-linkbutton" iconCls='icon-add' onclick='createFun();'>新建</a>
    <a class="easyui-linkbutton" iconCls="icon-remove" onclick="deleteFun();">删除</a>
}
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div style="text-align:center;font-size:20px;">
    杭州雷迪克汽车部件制造有限公司
</div><br />
<div style="text-align:center;font-size:20px; font-weight:700;width:100%;">
    外购产品进度
</div><br /><br />
<div class="datagrid" style="position:absolute;top1:50px;left1:5px;text-align:center;width:100%;margin:auto">
    <table id="purchaseScheduleTable" style="width:900px;height:auto;position:relative;margin:auto"></table>
</div>
<div id="dlg" title="信息框" class="easyui-dialog" closed="true"style="width:400px;height:300px;" buttons="#formAddBtn">
    <div class="ftitle">新建外购产品进度信息</div>
    <form id="form4Add" method="post">
        <table>
            <tr><td>外购单号:</td><td><input name="OutOrderID" value="" /></td></tr>
            <tr><td>客户订单号:</td><td><input name="CustomerOrderID" value="" /></td></tr>
            <tr><td>外购单位ID:</td><td><input name="OutCompanyID" value="" /></td></tr>
            <tr><td>产品ID:</td><td><input name="ProductID" value="" /></td></tr>
            <tr><td>交货日期:</td><td><input name="DeliveryDate" value="" class='easyui-datebox' /></td></tr>
            <tr><td>单据要求数量:</td><td><input name="RequestQuantity" value="" /></td></tr>
            <tr><td>实际入库数量:</td><td><input name="ActualQuantity" value="" /></td></tr>
        </table>
    </form>
</div>
<div id="formAddBtn">
    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-reset" onclick="$(form4Add).form('clear');">重置</a>
    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" onclick="ensure();">确定</a>
</div>

<div id="toolbar" style='display:none'>
    <form id='searchForm' method='post'>
        外购单号：<input id='OutOrderID' type='text' class='easyui-validatebox' name='OutOrderID'/>&nbsp;&nbsp;
        客户订单号：<input id='CustomerOrderID' type='text' class='easyui-validatebox' name='CustomerOrderID'/>&nbsp;&nbsp;
        外购ID:<input id="OutCompanyID" type="text" class="easyui-validatebox" name="OutCompanyID" /><br />
        交货日期:&nbsp;&nbsp;<input id="DeliveryDate1" class="easyui-datebox" value="" name="DeliveryDate1" />&nbsp;~&nbsp;<input id="DeliveryDate2" class="easyui-datebox" value="" name="DeliveryDate2" />&nbsp;&nbsp;
        <a class='easyui-linkbutton' href='javascript:void(0);' onclick='searchFun();'>查询</a>
    </form>
</div>